<section class="about-me section" id="about-me">
    <div class="container about-me-wrapper">
        <h2 class="about-me-title">ABOUT <span class="about-me-title-span">ME</span></h2>
        <div class="about-me-section-flex">
            <picture>
                <source srcset="../img/about-me-photo-desktop.webp 1x, ../img/about-me-photo-desktop-@2x.webp 2x" media="(min-width: 1280px)" >
                <source srcset="../img/about-me-photo-tablet.webp 1x, ../img/about-me-photo-tablet-@2x.webp 2x" media="(min-width: 768px)">
                <source srcset="../img/about-me-photo-mobil.webp 1x, ../img/about-me-photo-mobil-@2x.webp 2x" media="(max-width: 767px)">
                <img class="about-me-image" src="../img/about-me-photo-mobil.webp" alt="My photo" width="320" height="374">
            </picture>
           <div class="about-me-subtitle-flex">
                <h3 class="about-me-subtitle">BIO</h3>
                <div class="about-me-text-gap">
                    
                    <p class="about-me-text">I'm Lloyd Jefferson, a talented programmer specializing in software development. My expertise spans various programming languages and technologies, and I am dedicated to continually enhancing my skills. I thrive on seeking unconventional and creative solutions to problems, leveraging a high level of analytical skills to effectively tackle even the most challenging tasks.</p>
                    <p class="about-me-text">Adaptable to both independent and team-oriented work, I collaborate seamlessly with colleagues, exchanging ideas and finding optimal solutions. My professional maturity enables me to navigate challenges and stressful situations with a calm demeanor, maintaining a consistently high quality of work. Committed to self-improvement, I actively engage in studying new technologies and practices to stay current with the latest innovations in the field.</p>
                </div>
           </div>
        </div>
           <div class="flex-for-tablet">
                <div class="about-me-section">
                    <h3 class="about-me-subtitle">EDUCATION</h3>
                    <ul>
                        <li class="about-me-item"><p class="about-me-text">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</p></li>
                        <li class="about-me-item"><p class="about-me-text">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p></li>
                        <li class="about-me-item"><p class="about-me-text">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p></li>
                    </ul>
                </div>
                <div class="about-me-section">
                    <h3 class="about-me-subtitle">ROLE</h3>
                    <ul>
                        <li class="about-me-item"><p class="about-me-text">Frontend development</p></li>
                        <li class="about-me-item"><p class="about-me-text">HeadlessCMS, Wordpress</p></li>
                        <li class="about-me-item"><p class="about-me-text">Blender (enjoy)</p></li>
                    </ul>
                </div>
           </div>
    
        
    </div>
</section>