<!-- <section class="section section-topline"> -->
    <div class="container header-container">
      <a class="logo" aria-label="go to homepage" href="./index.html"
        >Lloyd<span class="colortext-header">Jefferson.</span></a>
      <div class="switch-location-header">
        <label class="switch-header">
          <input class="input-header" type="checkbox" id="chk">
          <span class="move-header">
          </span>
        </label>
      <nav class="navigation nav-header">
        <ul class="nav-list-header">
          <li>
            <a class="nav-link-header" aria-label="read about me" href="#about-me">About me</a>
          </li>
          <li>
            <a class="nav-link-header" aria-label="my projects" href="#projects">Projects</a>
          </li>
          <li>
            <a class="nav-link-header" aria-label="contacts" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
     <button
      class="btn-menu js-open-menu"
      type="button"
      aria-label="open menu navigation"
    >
      <svg class="btn-menu-icon">
        <use href="./img/icons.svg#icon-header-menu"></use>
      </svg>
      <svg class="btn-close-icon">
        <use href="./img/icons.svg#icon-close-x"></use>
      </svg>
    </button>   

     <!-- Menu backdrop -->
    <div class="mobile-menu-header">  
        <a class="logo mobile-logo" aria-label="go to homepage" href="./index.html"
        >Lloyd<span class="colortext-header">Jefferson.</span></a>
    <nav class="mobile-menu-navigation"> 
      <ul class="menu-header">
        <li>
          <a
            class="menuItem-header"
            aria-label="read about me"
            href="#about-me"
            >About me</a
          >
        </li>
        <li>
          <a
            class="menuItem-header"
            aria-label="view my projects"
            href="#projects"
            >Projects
          </a>
        </li>
        <li>
          <a
            class="menuItem-header"
            aria-label="my contacts"
            href="#contacts"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
    </div>
   </div>

   
    <!-- <script type="module" src="./js/header.js" defer></script> -->
  <!-- </section> -->