<header class="section section-topline">
    <div class="container header-container">
      <a class="logo" aria-label="go to homepage" href="./index.html"
        >LLOYDJEFFERSON<img src="" alt="logo" width="44" height="39"
      /></a>
      <nav class="navigation nav-header">
        <ul class="nav-list-header">
          <li>
            <a class="nav-link-header" aria-label="read about me" href="#about-me">About me</a>
          </li>
          <li>
            <a
              class="nav-link-header"
              aria-label="my projects"
              href="#projects"
              >Projects
            </a>
          </li>
          <li>
            <a class="nav-link-header" aria-label="contacts" href="#contacts"
              >Contacts</a
            >
          </li>
        </ul>
        <button
      class="menu-button js-open-menu"
      type="button"
      aria-label="open menu navigation"
    >
      <svg class="menu-batton-icon" width="44" height="30">
        <use href="./img/icons.svg#menu-icon"></use>
      </svg>
    </button>
      </nav>
    </div>

    <!-- Menu backdrop -->

    <div class="backdrop js-menu-container">
      <div class="mobile-menu js-menu-container" id="mobile-menu" data-menu>
        <div class="mobile-menu-top">
          <button
            class="mobile-menu-close js-close-menu"
            id="close"
            aria-label="Close menu"
            data-menu-close
          >
            <svg class="mobile-menu-close-icon" width="44" height="44">
              <use href="./img/icons.svg#close-icon"></use>
            </svg>
          </button>
        </div>
        <nav class="mobile-menu-navigation">
          <ul class="mobile-menu-list">
            <li class="mobile-menu-list-item">
              <a
                class="mobile-menu-link"
                data-menu-close
                aria-label="read about me"
                href="#about-me"
                >ABOUT ME</a
              >
            </li>
            <li class="mobile-menu-list-item">
              <a
                class="mobile-menu-link"
                data-menu-close
                aria-label="view our collection"
                href="#projects"
                >Projects
              </a>
            </li>
            <li class="mobile-menu-list-item">
              <a
                class="mobile-menu-link"
                data-menu-close
                aria-label="make an order"
                href="#contacts"
                >Contacts</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <script type="module" src="../js/empty.js" defer></script>
  </header>