<header class="section section-topline">
    <div class="container header-container">
      <a class="logo" aria-label="go to homepage" href="./index.html"
        >Lloyd<span class="colortext-header">Jefferson.</span></a>
        </label>
      <nav class="navigation nav-header">
        <ul class="nav-list-header">
          <li>
            <label class="switch-header">
              <input class="input-header" type="checkbox" id="chk">
              <span class="move-header">
              </span>
              <div class="switch-header-ball"></div>
            </label>
          </li>
          <li>
            <a class="nav-link-header" aria-label="read about me" href="#about-me">About me</a>
          </li>
          <li>
            <a
              class="nav-link-header"
              aria-label="my projects"
              href="#projects"
              >Projects
            </a>
          </li>
          <li>
            <a class="nav-link-header" aria-label="contacts" href="#contacts"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
        <button
      class="btn-menu js-open-menu"
      type="button"
      aria-label="open menu navigation"
    >
      <svg class="btn-menu-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-header-menu"></use>
      </svg>
      <svg class="btn-close-icon" width="44" height="44">
        <use href="./img/icons.svg#icon-close-x"></use>
      </svg>
    </button>

     <!-- Menu backdrop -->

 <div class="backdrop js-menu-container">
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-item">
          <a
            class="mobile-menu-link"
            data-menu-close
            aria-label="read about me"
            href="#about-me"
            >About me</a
          >
        </li>
        <li class="mobile-menu-list-item">
          <a
            class="mobile-menu-link"
            data-menu-close
            aria-label="view our collection"
            href="#projects"
            >Projects
          </a>
        </li>
        <li class="mobile-menu-list-item">
          <a
            class="mobile-menu-link"
            data-menu-close
            aria-label="make an order"
            href="#contacts"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
   </div>
   </div>

   
    <script type="module" src="./js/header.js" defer></script>
  </header>