<section class="section-hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      <span class="hero-title-img">
        HELLO, I AM
        <img
          class="hero-picture"
          src="/img/hero/hero@2x.webp"
          srcset="/img/hero/hero.webp 1x, /img/hero/hero@2x.webp 2x"
          alt="Lloyd Jeferson"
          width="108"
          height="108"
        />
      </span>
      <span class="hero-text-colored">FULLSTACK DEVELOPER</span>
    </h1>

    <div class="hero-link-text-wrapper">
      <div class="hero-link-wrapper">
        <a href="#contacts" class="order-link grid-item">
          <svg class="hero-link-svg" width="28" height="28">
            <use href="/img/icons.svg#icon-hero-arrow"></use>
          </svg>
          <p class="hero-link-text-paragraph">ORDER THE PROJECT</p>
        </a>
      </div>

      <p class="hero-text">
        I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE
        <span class="hero-text-colored">IMPRESSIVE</span> AND
        <span class="hero-text-colored">FUNCTIONAL WEBSITES</span> THAT REFLECT
        EACH CLIENT'S UNIQUE PERSONALITY.
      </p>
    </div>
  </div>

  <div class="hero-social-wrapper prefer-style">
    <ul class="hero-social-list">
      <li class="hero-social-link">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="social-link-hero"
          >Instagram</a
        >
      </li>
      <li class="hero-social-link">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="social-link-hero"
          >Facebook</a
        >
      </li>
      <li class="hero-social-link">
        <a
          href="https://ua.linkedin.com/school/goit-start-your-career-in-it/"
          target="_blank"
          class="social-link-hero"
          >LinkedIn</a
        >
      </li>
      <li class="hero-social-link">
        <a
          href="https://github.com/goitacademy/"
          target="_blank"
          class="social-link-hero"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
