    <section id="projects" class="container">
        <div class="my-projects">
        <h2 class="titleMy">My <span class="titleProjects">Projects</span></h2>
        <ul id="projects-list" class="projects-part">

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/wallet-webservice-desktop.webp 1x, ./img/wallet-webservice-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="./img/wallet-webservice-tablet.webp 1x, ./img/wallet-webservice-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/wallet-webservice-mobil.webp 1x, ./img/wallet-webservice-mobil-@2x.webp 2x">
                            <img src="./img/wallet-webservice-desktop.webp" alt="Wallet webservice" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">Wallet webservice</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/organic-desktop.webp 1x, ./img/organic-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="/img/organic-tablet.webp 1x, /img/organic-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/organic-mobi.webp 1x, ./img/organic-mobi-@2x.webp 2x">
                            <img src="./img/organic-desktop.webp" alt="Green harvest webservice" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">Green harvest webservice</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/english-desktop.webp 1x, ./img/english-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="./img/english-tablet.webp 1x, ./img/english-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/english-mobil.webp 1x, ./img/english-mobil-@2x.webp 2x">
                            <img src="./img/english-desktop.webp" alt="English Exellence website" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">English Exellence website</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/fitness-desktop.webp 1x, ./img/fitness-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="./img/fitness-tablet.webp 1x, ./img/fitness-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/fitness-mobil.webp 1x, ./img/fitness-mobil-@2x.webp 2x">
                            <img src="./img/fitness-desktop.webp" alt="power pulse webservice" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">power pulse webservice</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/energy-flow-desktop.webp 1x, ./img/energy-flow-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="./img/energy-flow-tablet.webp 1x, ./img/energy-flow-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/energy-flow-mobil.webp 1x, ./img/energy-flow-mobil-@2x.webp 2x">
                            <img src="./img/energy-flow-desktop.webp" alt="energy flow webservice" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">energy flow webservice</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/vishivanka-desktop.webp 1x, ./img/vishivanka-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="./img/vishivanka-tablet.webp 1x, ./img/vishivanka-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/vishivanka-mobil.webp 1x, ./img/vishivanka-mobil-@2x.webp 2x">
                            <img src="./img/vishivanka-desktop.webp" alt="vyshyvanka vibes Landing Page" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">vyshyvanka vibes Landing Page</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/chego-jewerly-desktop.webp 1x, ./img/chego-jewerly-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="./img/chego-jewerly-tablet.webp 1x, ./img/chego-jewerly-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/chego-jewerly-mobil.webp 1x, ./img/chego-jewerly-mobil-@2x.webp 2x">
                            <img src="./img/chego-jewerly-desktop.webp" alt="chego jewelry website" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">chego jewelry website</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/mimino-desktop.webp 1x, ./img/mimino-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="./img/mimino-tablet.webp 1x, ./img/mimino-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/mimino-mobil.webp 1x, ./img/mimino-mobil-@2x.webp 2x">
                            <img src="./img/mimino-desktop.webp" alt="mimino website" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">mimino website</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/oranges-desktop.webp 1x, ./img/oranges-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="./img/oranges-tablet.webp 1x, ./img/oranges-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/oranges-mobil.webp 1x, ./img/oranges-mobil-@2x.webp 2x">
                            <img src="./img/oranges-desktop.webp" alt="fruitbox online store" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">fruitbox online store</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>

            <li>
                <div class="each-project">
                    <div class="image-tech">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/starlight-desktop.webp 1x, ./img/starlight-desktop-@2x.webp 2x">
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                                    srcset="./img/starlight-tablet.webp 1x, ./img/starlight-tablet-@2x.webp 2x">
                            <source media="(max-width: 767px)" 
                                    srcset="./img/starlight-mobil.webp 1x, ./img/starlight-mobil-@2x.webp 2x">
                            <img src="./img/starlight-desktop.webp" alt="starlight studio landing page" class="project-image">
                        </picture>
                        <p class="tech-text">React, JavaScript, Node JS, Git</p>
                    </div>
                    <div class="project-info">
                        <h3 class="pr-title-text">starlight studio landing page</h3>
                        <button class="pr-btn">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn-text">Visit</a>
                                <svg class="icon-my-projects">
                                    <use xlink:href="./img/icons.svg#icon-my-projects-arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </li>
        </ul>

        <button id="load-more" type="button" class="load-btn">Load more
            <svg class="icon-load">
                <use xlink:href="./img/icons.svg#icon-my-projects-load-line"></use>
              </svg>
        </button>
    </div>
    </section>
