<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reviews.css">
</head>
<body>

<section class="reviews container">

    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-container">
        
        <ul class="review-list swiper-wrapper" >
            <li class="review-item swiper-slide">
                <p class="review-text"></p>
                    <div class="person-box">
                        <img class="person-icon" src="" alt="">
                        <p class="person-text"></p>
                    </div>
            </li>
        </ul>
    </div>

    <div class="buttons-container">

        <button type="button" class="slider-button prev-button" disabled>
                <svg width="24" height="24">
                    <use href="/img/icons.svg#icon-reviews-arrow-right"></use>
                </svg>
        </button>
        
        <button type="button" class="slider-button next-button" disabled>
                <svg width="24" height="24">
                    <use href="/img/icons.svg#icon-reviews-arrow-right"></use>
                </svg>
        </button>
    </div>
</section>
    
    <script type="module" src="../js/reviews.js"></script>


</body>
</html>

