<section class="tech-skills-section">
    <div class="tech-skills-container">
        <h2 class="visually-hidden">Tech Skills</h2>
        <div class="marquee">
            
            <div class="marquee-normal">
                <div class="marquee-inner">
                
                     <p class="marquee-line">
                             <span class="marquee-square"></span> 
                            <span class="marquee-span">HTML/CSS</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">JavaScript</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">React</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">Node.js</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">React Native</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">Typescript</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">HTML/CSS</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">JavaScript</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">React</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">Node.js</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">React Native</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">Typescript</span>
                            <span class="marquee-square"></span>
                    </p> 
                        <p class="marquee-line">
                            <span class="marquee-span">HTML/CSS</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">JavaScript</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">React</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">Node.js</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">React Native</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">Typescript</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">HTML/CSS</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">JavaScript</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">React</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">Node.js</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">React Native</span>
                            <span class="marquee-square"></span>
                            <span class="marquee-span">Typescript</span>
                            <span class="marquee-square"></span>
                </div>
            </div>
            
            <div class="marquee-diagonal">
                <div class="marquee-inner">
                
                    <p class="marquee-line-diagonal">
                        <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">HTML/CSS</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">JavaScript</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">React</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">Node.js</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">React Native</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">Typescript</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">HTML/CSS</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">JavaScript</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">React</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">Node.js</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">React Native</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">Typescript</span>
                            <span class="marquee-square-diagonal"></span>
                    </p>
                        <p class="marquee-line-diagonal">
                            
                            <span class="marquee-span">HTML/CSS</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">JavaScript</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">React</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">Node.js</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">React Native</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">Typescript</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">HTML/CSS</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">JavaScript</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">React</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">Node.js</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">React Native</span>
                            <span class="marquee-square-diagonal"></span>
                            <span class="marquee-span">Typescript</span>
                            <span class="marquee-square-diagonal"></span>
                </div>
            </div>
            
        </div>
        
    </div>
    
    
</section>