<section class="work-together" id="work-together">
  <h2 class="work-together-title"><span class="title-span">LET’S</span> WORK TOGETHER</h2>
  <div class="work-together-div">
    <address class="work-together-contacts">
      <p class="work-together-paragraph">Contact me to transform your ideas into exceptional solutions.</p>
      <ul class="work-together-list">
        <li class="work-together-li">
          <svg class="work-together-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-work-together-phone"></use>
          </svg>
          <a class="work-together-links" href="tel:+380904567890">+38 090 456 78 90</a>
        </li>
        <li class="work-together-li">
          <svg class="work-together-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-work-together-email"></use>
          </svg>
          <a class="work-together-links" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
        <li class="work-together-li">
          <svg class="work-together-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-work-together-point"></use>
          </svg>
          <a class="work-together-links"
            href="https://www.google.ru/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@40.714028,-74.1095876,11.5z/data=!4m15!1m8!3m7!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!3b1!8m2!3d40.7127753!4d-74.0059728!16zL20vMDJfMjg2!3m5!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728!16zL20vMDJfMjg2?entry=ttu&g_ep=EgoyMDI0MTAwNy4xIKXMDSoASAFQAw%3D%3D">USA,
            New York</a>
        </li>
      </ul>
    </address>
    <form class="work-together-form" name="your-email" autocomplete="off">
      <svg class="input-icon is-close-input-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-ep-success"></use>
      </svg>
      <input class="work-together-input" type="email" name="email" placeholder="Your email*"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
      <span class="input-signature is-close-input-signature">Invalid email, try again</span>
      <textarea class="work-together-textarea" name="message" placeholder="Message"></textarea>
      <button class="work-together-button" type="submit">SEND MESSAGE</button>
    </form>
  </div>
  <div class="work-together-modal is-close-modal">
    <div class="modal-window">
      <button class="modal-window-button" type="button">
        <svg class="modal-window-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-work-together-cross"></use>
        </svg>
      </button>
      <h2 class="modal-window-heading">Thank you for your interest in cooperation!</h2>
      <p class="modal-window-paragraph"></p>
    </div>
  </div>
</section>