
.about-me-title {
font-family: "Impact", sans-serif;   
font-size: 52px;
line-height: 1.23;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: left;
margin-bottom: 40px;
}

.about-me-title-span {
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: #00b068; 
}

.about-me-image {
    border-radius: 16px;
    margin-bottom: 40px;
}
.about-me-text-gap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}

.about-me-section-flex {
    max-width: 320px;
    height: auto;
}



.about-me-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    
}
.about-me-subtitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.about-me-item {
    
    position: relative;
    padding-left: 20px;  
}

.about-me-item::before {
    content: ''; 
    position: absolute;
    left: 0;
    background-color: #00B068; 
    top: 10px;;
    width: 4px;
    height: 4px;
   
     
}

.about-me-item:not(:last-child) {
    margin-bottom: 12px;
   }

.about-me-section:not(:last-child) {
    
    margin-bottom: 40px;
}



@media only screen and (min-width: 768px) {
    
    .about-me-section:not(:last-child) {
        margin-bottom: 0px;
    }
   

    .about-me-wrapper  {
        background-image: url(/img/about-me-decor-tablet.png);
        background-repeat: no-repeat;
        background-position: right 20px  bottom 200px;
        background-size: 336px 252px;
       
    }

    

    @media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx), (min-resolution: 192dpi) {
    .about-me-wrapper {
        background-image: url(/img/about-me-decor-tablet-2x.png);
    }
}

    .about-me-section-flex {
        display: flex;
        flex-direction: row;
        gap: 32px;
        max-width: 704px;
        margin-bottom: 60px;
    }



    .about-me-text-gap {
        margin-bottom: unset;
    }

    .about-me-subtitle-flex {
        display: flex;
        flex-direction: column;
        width: 336px;
        height: 680px;
    }

    .about-me-image {
        padding-top: 368px;
        width: 336px;
        height: 392px;
        margin-bottom: unset;
    }

   .flex-for-tablet {
    display: flex;
    gap: 32px;
   }

   .about-me-section {
    width: 336px;
    height: 280px;
   }

   .about-me-section {
    margin-bottom: 0;
}

   .about-me-title {
    font-family: "Impact", sans-serif;   
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 40px;
    }

    .about-me-title-span {
        font-family: "Impact", sans-serif; 
        font-size: 108px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: left;
        color: #00b068; 
    }

    .about-me-subtitle {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.33;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    .about-me-item:not(:last-child) {
        margin-bottom: 16px;
       }

    .about-me-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em; 
    }
}

@media only screen and (min-width: 1280px) {
    
    
     .about-me-wrapper {
        background-image: url(/img/about-me-decor-desctop.png);
        background-repeat: no-repeat;
        background-position: right 60px  bottom 300px;
        background-size: 384px 288px;
    }


    @media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx), (min-resolution: 192dpi) {
    .about-me-wrapper {
        background-image: url(/img/about-me-decor-desctop-2x.png);
    }
}
    .about-me-title {
        font-family: "Impact", sans-serif;  
        font-weight: 400; 
        font-size: 108px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 40px;
        }

        .about-me-title-span {
            font-family: "Impact", sans-serif;
            font-weight: 400;
            font-size: 108px;
            line-height: 1.15;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            text-align: left;
            color: #00b068; 
        }

        .about-me-subtitle {
            font-weight: 500;
            font-size: 36px;
            line-height: 1.33;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            margin-bottom: 32px;
        }

        .about-me-text-gap {
            margin-bottom: unset;
        }

        .about-me-subtitle-flex {
            display: flex;
            flex-direction: column;
            width: 488px;
            height: 488px;
        }

        .about-me-text {
            font-weight: 300;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.03em;
             
        }

        .about-me-section {
            width: 384px;
            height: auto;
           }

           .about-me-section {
            margin-bottom: 0;
        }

        .about-me-section-flex {
            gap: 136px;
            margin-bottom: 80px;
            max-width: unset;
        }

        .about-me-image {
            padding-top: 272px;
            padding-left: 208px;
            width: 384px;
            height: 448px;
            margin-bottom: unset;
        }

        .flex-for-tablet {
            gap: 136px;
            padding-left: 208px;
           }

           .about-me-item:not(:last-child) {
            margin-bottom: 16px;
           }

           

    }