@font-face {
  font-family: 'Impact';
  src: url('/fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


body {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.2px;

  color: #292929;
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

h1 {
  font-family: 'Impact';
  font-size: 64px;
  letter-spacing: 1.8px;
  line-height: 80px;
  font-weight: 400;
}

h2 {
  font-family: 'Impact';
  font-size: 52px;
  letter-spacing: 1.8px;
  line-height: 64px;
  font-weight: 400;
}

h3 {
  font-family: 'Poppins';
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 40px;
  font-weight: 500;
}

caption {
  font-family: 'Poppins';
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
  font-weight: 400;
}

.bold-text {
  font-family: 'Poppins';
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}
