.benefits-list-header {
  font-weight: 700;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 320px; /* було min-width: 320px - розривало екран на 320 */
  margin-bottom: 40px;
}

.benefits-list-span {
  color: #14c57c;
}

.benefits-header {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-list {
  display: grid;
  gap: 32px;
  align-items: center;
}

.benefits-li {
  display: grid;
  gap: 16px;
}

.svg-wrapper {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background: var(--icon-color);
  display: grid;
  align-items: center;
  justify-items: center;
  opacity: 0.5;
}

.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
  border: none;
  padding: 0;
  z-index: 9999;
}

.scroll-svg {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 768px) {
  .benefits-list-header.prefer {
    max-width: 704px;
    font-weight: 400;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }

  .benefits-list {
    grid-template-columns: repeat(2, 336px);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      '. u '
      'c b'
      'h .';
  }

  .user {
    grid-area: u;
  }

  .chat {
    grid-area: c;
  }

  .brush {
    grid-area: b;
  }

  .hourglass {
    grid-area: h;
  }

  .benefits-header {
    font-size: 20px;
  }

  .benefits-header {
    font-size: 20px;
    line-height: 160%;
  }

  .scroll-to-top {
    bottom: 50px;
  }

  .scroll-svg {
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .benefits-wrapper {
    padding-top: 117px;
    background-image: url('/img/benefits/decor-bg-3.1.webp');
    background-repeat: no-repeat;
    background-size: 526px 408px;
    background-position: top 10px right 100px;
    height: 810px;
  }

section.benefits {
  padding-top: 24px;
}

  .benefits-list-header {
    margin: 0;
  }

  .benefits-list {
    position: relative;
    top: -80px;
    grid-template-columns: repeat(3, 384px);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-template-areas:
      '. . u '
      'c b h';
  }

  .scroll-to-top {
    bottom: 110px;
    right: 20px;
  }

  .scroll-svg {
    height: 50px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .benefits-wrapper {
      background-image: url('/img/benefits/decor-bg-3@2x.webp');
    }
  }
}

/*==================== SCROLL TO TOP  ===============================*/

.visible-scroll {
  display: block;
}

