/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

section {
  padding: 20px 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
padding: 0 32px;
  }

  section {
  padding: 62px 0;
}

  h1 {
    font-family: 'Impact';
    font-size: 136px;
    letter-spacing: 1.8px;
    line-height: 156px;
    font-weight: 400;
  }

h2 {
  font-family: 'Impact';
font-size: 108px;
letter-spacing: 1.8px;
line-height: 124px;
font-weight: 400;
}

h3 {
  font-family: 'Poppins';
font-size: 36px;
letter-spacing: 0.5px;
line-height: 48px;

} 



caption {
  font-family: 'Poppins';
font-size: 20px;
letter-spacing: 0.5px;
line-height: 32px;
font-weight: 400;
}

}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }

  section {
  padding: 82px 0;
}
  
}
