/* @media screen and (min-width: 375px){
} */
.hero-container {
  padding-top: 96px;
  padding-bottom: 56px;
  background-image: url('/src/img/decor-bg@2x.webp');
  background-repeat: no-repeat;
  margin: 0 auto;
}
.section-hero {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
}
.hero-image {
  max-width: 100%;
  height: auto;
}
.hero-title {
  position: relative;
  max-width: 320px;
}
.hero-title-colored,
.hero-text-colored {
  color: #00b068;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  position: relative;
}

.hero-social-links {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
}
.order-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;

  background-color: #cfe9dc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.order-button:hover {
  background-color: #b8e0d0;
}
.arrow {
  margin-right: 10px;
  color: #4caf50;
  font-size: 24px;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
  .hero-text {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero-container {
    padding-top: 88px;
    padding-bottom: 60px;
    margin: 0 auto;
  }
  .section-hero {
    background-color: #f0f0f0;
    background-image: url(/src/img/decor-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 700px;
    background-size: cover;
    display: block;
    margin: 0 auto;
    /* padding: 124px 32px; */
  }
  .hero-title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 124px;
    line-height: 119%;
    letter-spacing: 0.01em;
  }

  .hero-social-links {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .hero-container {
    justify-content: center;
    align-items: center;
  }
  .hero-image {
    position: relative;
  }
}
