/* .section-hero {
  box-sizing: border-box;
  background-image: url('/img/hero/decor.webp');
  background-repeat: repeat-y;
  background-position: top 0 right 50px;
  background-size: 350px 264px;
  padding-top: 112px;
} */

.hero-container {
  box-sizing: border-box;
  background-image: url('/img/hero/decor.webp');
  background-repeat: repeat-y;
  background-position: top 0 right 50px;
  background-size: 350px 264px;
}

.hero-picture {
  display: none;
}

.hero-title {
  text-align: left;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0.03em;
  overflow: hidden;
  white-space: wrap;
  /* width: 0;
  animation: typing 1500ms steps(28, end) forwards; */
  animation: fadeIn 2s ease-in forwards;
}

.hero-text-colored {
  color: #00b068;
}

.hero-link-wrapper {
  width: 90%;
  height: auto;
  display: inline-block;
  position: relative;
}

.order-link {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  z-index: 1;
}

.order-link::after {
  content: ' ';
  display: block;
  position: absolute;
  z-index: -1;
  left: 55%;
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background: var(--btn-color);
}

.order-link:hover::after,
.order-link:focus::after {
  background-color: #00b068;
}

.hero-link-svg {
  position: relative;
  top: 20%;
  left: 0;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  width: 320px;
  margin: 30px 0 72px 0;
  text-align: left;
  padding: 40px 0 72px 0;
}

.hero-social-wrapper.prefer-style {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  width: 100%;
  height: 232px;
  background: var(--input-color);
  padding: 0;
   width: 100vw;  
   
  
  margin-bottom: 80px;

  margin: 0 auto;
}

.hero-social-list {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.hero-social-list a:hover {
  color: #14c57c;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-container {
    background-image: url('/img/hero/decor@2x.webp');
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-size: 356px 276px;
    padding-top: 88px;
  }

  .hero-title {
    text-align: left;
    margin-bottom: 90px;
    font-size: 136px;
    line-height: 115%;
    letter-spacing: 0.01em;
  }

  .hero-link-wrapper {
    left: 0;
  }

  .order-link {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    padding: 10px 0px;
  }

  .order-link::after {
    content: ' ';
    top: -50%;
    left: 25%;
    width: 261px;
  }

  .hero-text {
    font-size: 20px;
    line-height: 160%;
    width: 704px;
  }

  .hero-social-wrapper.prefer-style {
    height: 104px;
    margin-bottom: 124px;
  }

  .hero-social-list {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  /* .hero-container {
    background-size: 356px 276px;
    background-repeat: no-repeat;
  } */

  .hero-container {
    background-image: url('/img/hero/decor.webp'), url('/img/hero/decor.webp');
    background-size: 356px 276px, 356px 276px;
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 right 50px, bottom 0 left 200px;
  }
  .hero-picture {
    display: block;
    width: 108px;
    height: 108px;
  }

  .hero-title-img {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 40px;
  }

  .hero-link-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    /* height: 96px; */
    padding: 40px 0 80px 0;
  }

  .hero-text {
    width: 592px;
    margin: 0;
    padding: 0;
  }

  .order-link::after {
    content: ' ';
    top: -40%;
  }
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
