/*mobile*/

.my-projects {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .titleMy {
        color: var(--text-color);
        font-family: Impact;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px; /* 123.077% */
        letter-spacing: 1.8px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .titleProjects {
        color: var(--text-green-color);
        font-family: Impact;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
    
    #projects {
        margin: auto;
    }
    
    .projects-part {
        display: flex;
        gap: 40px;
        flex-direction: column;
        margin: 0;
    }

.each-project {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-tech {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

    
    #projects-list li {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: auto;
    }
    
    .project-image {
        width: 100%;
height: 184px;
        object-fit: cover;
        border-radius: 16px;
    }


    
    .tech-text {
        color: var(--text-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    }
    
    .pr-title-text {
        color: var(--text-color);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    }
    
    .project-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    #projects-list .project-info h3 {
        margin: 0;
    }
    
    .pr-btn {
        display: flex;
        align-items: center; 
        justify-content: center;
        border-radius: 8px;
        border: none;
    background: var(--input-color);
    margin-left: auto;
    padding: 12px 24px;
    cursor: pointer;
    gap: 12px
    }
    
    .pr-btn:hover, .pr-btn:focus {
    background: var(--hover-grey-color);
    }
    
    .btn {
        display: flex;
        gap: 12px;
        align-items: center;
    }
    
    .btn-text {
        color: var(--text-color);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .icon-my-projects {
        width: 16px;
        height: 16px
    }
    
    
    .load-btn {
        display: flex;
        padding: 12px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: var(--background);
    color: var(--text-color);

        border: none;
        outline: none;
        background-color: transparent;
    }

    .load-btn:hover, .load-btn:focus{
        color: var(--text-green-color);
    }

    .icon-load {
width: 117px;
        height: 10px;
        align-self: stretch;
       
    }
    
    
    /*tablet*/
   @media only screen and (min-width: 768px) {

.projects-part {
  gap: 60px;
}

     
        .my-projects {
            gap: 60px;
        }
    
        .titleMy {
font-size: 108px;
            line-height: 124px;
        }

        .titleProjects {
            font-size: 108px;
            line-height: 124px;
        }
    
        .each-project {
            gap: 20px;
        }

        .image-tech {
gap: 16px;
        }
    
        .project-image {
            width: 100%;
    height: 404px;
            object-fit: cover;
            border-radius: 16px;
        }

        .project-info {
            flex-direction: row;
            gap: 32px;
        }

        .pr-btn {
            margin-left: auto;
        }

        .pr-title-text {
        font-size: 36px;
        line-height: 48px;
        }

        .load-btn {
        font-size: 20px;
        line-height: 32px;
        }
    
    }
    
    
    /*desktop*/
    @media (min-width: 1280px) {

.projects-part {
  gap: 80px;
}
      
        .my-projects {
            gap: 80px;
        }
    
        .project-image {
   height: 580px;
        }
    
        .project-info {
            gap: 120px;
        }
    
section#projects {
    padding-bottom: 24px;
}

        
    }
