
.reviews-title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.swiper-container {
    max-width: 360px;
    border-radius: 16px;
    margin-bottom: 24px;
    height: auto;
    overflow: hidden;
}



.swiper-wrapper {
    display: flex;

}

.review-item {
    width: 100%; 
    flex-shrink: 0;
    background-color: var(--input-color);
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.review-item.show {
    opacity: 1;
    transform: translateY(0);
}
    
.review-text {
    font-family: "Poppins" sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-bottom: 24px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.person-box {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: auto;
}
.person-icon {
    border-radius: 24px;
    width: 40px;
    height: 40px;
}
.person-text {
    font-family:"Poppins" sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
}

.buttons-container {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
.prev-button, .next-button {
    border: 1px solid var(--text-color);
    border-radius: 8px;
    padding: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    transition: transform 0.2s ease, background-color 0.2s ease;  
}

.prev-button svg {
    transform: rotate(-180deg);
}
.prev-button svg,
.next-button svg {
   
    stroke: var(--text-color);
    fill: none;    
}

.slider-button[disabled] {
    border: 1px solid var(--input-color);
    background: var(--background);
    cursor: not-allowed;
}
.slider-button[disabled] svg {
    fill: none;
    stroke: var(--input-color);
}
.slider-button:hover, :focus {
    color: #BBBBBB
}


@media screen and (min-width: 768px) {
    
    .swiper-container {
        max-width: 768px;
    }
    .reviews-title {
        font-size: 72px;
    }
}

@media screen and (min-width: 1280px) {

    .swiper-container {
        max-width: 1280px;
    }
    .review-item {
        width: 592px;
        border-radius: 16px;
    }
    .reviews-title {
        font-size: 108px;
    }
    .prev-button, .next-button {
        width: 48px;
        height: 48px;
    }
}
