.tech-skills-section {
margin: 0 auto;
}



.tech-skills-container {
  width: 100%;
     height: auto; 
    margin: 0 auto;
    padding: 0;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .marquee {
    position: relative;
    overflow: hidden;
    height: 280px;
    max-width: 100vw;
  }
  
  
  .marquee-line {
    flex-shrink: 0;
    min-width: 50%;
    white-space: nowrap;
    font-weight: 500;
    font-size: 32px;
    line-height: 104px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: #bcdfd1;
    
  } 

  .dark .marquee-line {
    background: #204136;
  }

  .dark .marquee-line-diagonal {
    background: #2a2d32;
    color: #14c57c;
  }
  
  

  .marquee-line-diagonal {
    flex-shrink: 0;
    min-width: 50%;
    white-space: nowrap;
    font-weight: 500;
    font-size: 32px;
    line-height: 104px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #00B068;
    background-color: #e4e5e6;
    
  } 


  
  .marquee-normal, .marquee-diagonal {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }
  
  
  
  .marquee-inner {
    display: flex;
    flex-wrap: nowrap;
  }
  
  
  
  .marquee-normal {
  height: 104px;
  }
  
  .marquee-diagonal {
    top: 100px;
    transform: rotate(+2deg);
    height: 104px;
  }
  
  .marquee-normal .marquee-inner {
    animation: marqueeLineNormal 10s linear infinite;
  }
  
  .marquee-diagonal .marquee-inner {
    animation: marqueeLineDiagonal 10s linear infinite;
  }
  
  .marquee-span {
    margin-right: 10px;
  }
  
  .marquee-square {
    display: inline-block;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    background-color: #00B068;
    margin: 0 10px;
    vertical-align: middle;
  }
  
  .marquee-square-diagonal {
    display: inline-block;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    background-color: #292929;
    margin: 0 10px;
    vertical-align: middle;
  }
  
  .dark .marquee-square-diagonal {
    background: #f0f0f0; 
  }
  




  @keyframes marqueeLineNormal {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);  
    }
   }
  
   @keyframes marqueeLineDiagonal {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);  
    }
   }
  
   @media only screen and (min-width: 768px) {
    .tech-skills-container {
      width: 100%;
      height: auto;
      margin: 0 auto;
     
    }
  
    .marquee-line {
        font-size: 36px;
        line-height: 128px;
        letter-spacing: 0.01em;
        height: 128px;
      } 
  
      .marquee-normal {
        height: 128px;
          }
        
        .marquee-diagonal {
         height: 128px;
        }
  
  }
  
  @media only screen and (min-width: 1280px) {
    .tech-skills-container {
      
       height: auto;
      margin: 0 auto;
      max-width: 1280px;
    }

    
  
    .marquee-line {
        font-size: 36px;
        line-height: 128px;
        letter-spacing: 0.01em;
        height: 128px;
      } 
  
      .marquee-normal {
        height: 128px;
          }
        
        .marquee-diagonal {
         height: 128px;
        }
  
  }
  
  
  
    
  
    
