/* .work-together .container{
  padding: 80px 20px;
} */

.work-together {
  box-sizing: border-box;
  padding: 40px 0px 80px;
  max-width: 360px;
  margin: 0 auto;
  position: relative;
  /* background-color: #F0F0F0; */
}


.work-together-title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-green-dark);
  margin-bottom: 40px;


  & .title-span {
    color: var(--text-color);
  }
}

.work-together-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.work-together-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.work-together-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.work-together-li {
  height: 24px;

}

.work-together-icon {
  margin-right: 16px;

}

.work-together-links {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  vertical-align: top;
}

.work-together-links:hover,
.work-together-links:active {
  color: #00b068;
}

.work-together-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.work-together-input {
  border-radius: 8px;
  border: none;
  padding: 16px;
  /* width: 320px; */
  height: 48px;
  background-color: #e4e5e6;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--input-color);
}

*,
a:focus {
  outline: none !important;
}

.work-together-form input:hover,
.work-together-form input:active {
  border: 1px solid #00b068;
}

.work-together-textarea {
  resize: none;
  border: 0;
  border-color: #00b068;
  border-radius: 8px;
  padding: 16px;
  /* width: 288px; */
  height: 128px;
  background-color: var(--input-color);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color);
  /* background-color: #e4e5e6; */
}

.work-together-form textarea:hover,
.work-together-form textarea:active {
  border: 1px solid #00b068;
}


.work-together-button {
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  /* width: 320px; */
  height: 48px;
  background-color: var(--text-green-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f0f0f0;
}

.work-together-button:hover,
.work-together-button:active {
  background-color: #009156;
}

.input-icon {
  position: absolute;
  right: 17px;
  top: 28px;

  &.is-close-input-icon {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.input-signature {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #e74a3b;
  left: 0px;
  top: 80px;


  &.is-close-input-signature {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

}


/*-------------MODAL------*/
button {
  display: block;
}

.work-together-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #505050b0;

  &.is-close-modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e4e5e6;
  border-radius: 16px;
  padding: 48px 32px;
  width: 256px;
  height: 232px;
  background-color: var(--background);
}

.modal-window-button {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: inherit;
  border: none;
}

.modal-window-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #00b068;
  margin-bottom: 16px;
}

.modal-window-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.modal-window-icon{
  stroke: var(--text-color);
  fill: var(--text-color);
}
/*-dark-theme-modal-window----*/
.dark-theme-modal-window{
background-color: var(--background);
stroke: #f0f0f0;

}
.dark-theme-modal-window-paragraph{
color: var(--text-color);
}
/*----------------------------*/

/*----------------------END MODAL--------------------*/

@media screen and (min-width: 768px) {
  /* .work-together .container {
      padding: 120px 32px 124px;
    } */

  .work-together {
    padding: 62px 0px 124px;
    max-width: 768px;
    margin: 0 auto;
    background-image: url(../img/work/decor-bg-1x-tablet.png);
    background-size: 336px 260px;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }

  @media screen and (min-resolution: 192dpi) {
    .work-together {
      background-image: url(../img/work/decor-bg-2x-tablet.png);
      background-repeat: no-repeat;
      background-size: 336px 260px;
      background-position: 100% 0;
    }
  }

  .work-together-title {
    font-weight: 400;
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #00b068;
    margin-bottom: 60px;
  }

  .work-together-paragraph {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* color: var(--text-color) */
    width: 518px;
    margin-bottom: 32px;
  }

  .work-together-contacts {
    margin-bottom: 60px;
  }

  .work-together-list {
    display: flex;
    flex-direction: row;
  }

  .work-together-input {
    height: 48px;
  }

  .input-icon {
    right: 17px;
    top: 28px;
  }

  /*-------------MODAL------*/
  .work-together-button {
    width: 221px;
    height: 48px;

  }

  .modal-window {
    padding: 64px;
    width: 364px;
    height: 152px;
  }

  /*-------END MODAL--------*/
}


@media screen and (min-width: 1280px) {
  /* .work-together .container {
    padding: 117px 32px 164px;
  } */

  .work-together {
    padding: 82px 0px 164px;
    max-width: 1280px;
    margin: 0 auto;
    background-image: url(../img/work/decor-1x-work-desktop.png);
    background-size: 526px 408px;
  }

    @media screen and (min-resolution: 192dpi) {
      .work-together {
        background-image: url(../img/work/decor-2x-work-desktop.png);
        background-size: 526px 408px;
      }
    }

  .work-together-title {
    margin-bottom: 80px;
    width: 515px;
    height: 248px;
  }

  .work-together-paragraph {
    margin-bottom: 0px;
    width: 488px;
  }

  .work-together-contacts {
    width: 488px;
    height: 288px;
    flex-direction: column;
    gap: 120px;
    margin: 0;

  }

  .work-together-div {
    display: flex;
    flex-direction: row;
    gap: 136px;
  }

  .work-together-list {
    flex-direction: column;
  }

  .work-together-form {
    width: 592px;
    height: 288px;
  }


  .work-together-button {
    max-width: 173px;
    height: 48px;
    padding: 12px 12px;
  }

  .input-icon {
    right: 17px;
    top: 18px;
  }

  .input-signature {
    left: 0px;
    top: 62px;
  }

  /*-------------MODAL------*/
  .work-together-button {
    width: 221px;
    height: 48px;
  }

  .modal-window {
    padding: 64px;
    width: 364px;
    height: 152px;
  }

  /*-------END MODAL--------*/
}